<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator Test</h1>

      <div class="field">
        <label>Length</label>

        <!--
          Handling text input:
          - User input in JavaScript is always a string.
          - To convert the input string into a number and give it to the method, Angular provides a built-in (stringToNumber) pipe.
          - An event handler is triggered when the user types something in the input.
          - To access the event object of the input event, we use '$event'.
          - To access the value of the event object, we use '$event.target.value'.
          - The method will be called with the value of the input, whatever the user just typed into the input.
        -->

        <input class="input" (input)="onChangeLength($event)" />
        <!-- <input (input)="onChangeLength($event.target.value)" /> -->
        <!-- <input (input)="onChangeLength(($event.target as HTMLInputElement).value)" /> -->
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <!-- Event handler triggers every time a change is done in the input form element checkbox -->
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <!--
        Event Binding Syntax for click event handler:
        - Use '()' to tell Angular to watch for some kind of event to occur on this button element.
        - Inside '()', we put the name of the standard HTML event to watch for and then call the method responsible for the event.
        - The function call is evaluated as code, not a string.
        - [disabled] is a property binding because we are assigning a value to the disabled attribute.
        - "!length" is evaluated as code, not a string.
        - [disabled]="!length" means that the button is disabled if the length is 0.
        - Length property is initialized to 0 so !length will be true and the button will be disabled if user didn't input anything and enabled when user input something.
        - [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" means that the button is disabled if the length is 0 and (includeLetters || includeNumbers || includeSymbols) is false.
      -->

      <button [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Generate!
      </button>

      <!-- Angular directives
        - Angular provides 3 types of directives: structural, attribute and interpolation directives.
        - Directives are little bits of additional syntax we use inside our templates.
        - Angular has builtin directives but we can write our own custom structural directives in our custom attribute directives as well.

        - Structural directives: adds or removes HTML elements (change the structure of our templates)
          e.g.:
          <div *ngIf="length">
            <p>Hidden if length is false</p>
          </div>

        - Attribute directives: changes the properties of the HTML element it gets applied to
        e.g.:
        <label appStrikethrough>
          <input type="checkbox" />
          Use Letters
        </label>
        <div [ngClass]="{ 'has-text-centered': length }">
          <p>Hidden if length is false</p>
        </div>

        - Structural directives: *ngIf, *ngFor
        - Attribute directives: [ngClass], [ngStyle], [ngSwitch]

        All structural and attribute directives use a * (asterisk) prefix.
        - *ngIf = "password"
            
        - item of app-root"{
          text-align: center; }

        - *ngFor = "let item of app-root"{
          td{
            padding-right: 5px; } }
      -->

      <!--
      Structural Directive Syntax:
      - The purpose of the structural directive is to conditionally show or hide some element inside of our template
      - Should be used inside the style tag just like we are using ng-template in our Angular application
      - use a structural directive to toggle whether the password is shown or not, if div gets displayed or not
use *ngIf="password" to show the password only if "password" property is true (initially, password is initialized as an empty string - which is false in JavaScript - in the DOM so it is false but after user inputs something and press the generate button, it will be true and the password input element will be shown on the page if password is true)
      - *ngIf is almost like vim's 'if' statement, except it's in HTML.
      - "ng" prefix comes from Angular, all of the built-in directives that ship with Angular use that prefix (e.g. structural directives *ngIf = "password")
      -->

      <div class="box" *ngIf="password">
        <label>Your Password</label>

        <!--
          Property Binding Syntax for [value]:
          - Inside '[]', we put the name of the HTML property we want to set on this element, e.g., <input value="MY PASSWORD!!!">.
          - 'password' is the property of the class defined in the component class instance inside app.component.ts.
          - It is evaluated as code, not a string.          
        -->

        <input class="input" [value]="password" />

        <!--
          Alternative by using method call to stick the password on the value HTML property/attribute:
          - <input [value]="getPassword()" />
        -->

      </div>
    </div>
  </div>
</div>

<!--
  Interpolation Syntax:
  - Printing plain information in the HTML template.
  - Using {{ }} will stick/inject the value of the class property 'password' on the HTML template page.
  - Initially, it's an empty string, but when pressing the generate button, it will be assigned with "MY PASSWORD!!!" and shown on the HTML page.
  - {{ password }}
  
  Alternative by using method call:
  - {{ getName() }}
-->